%h2 Brew Session Log Entries
= link_to t('.new', default: t("helpers.links.new")), new_brew_session_log_path, class:'btn btn-primary'
= render partial: "table"
:javascript
    $(document).ready( function() {
      setTimeout(executeRefresh, 5000);
    } );